@import "normalize.scss";
@import "foundation.scss";

@import "compass/css3/transition";

.row.full-width {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

body {
  background: url("../images/custom_bg.png");
}

.name {
  float: left;
}

.tagline {
  float: left;
  color: $topbar-link-color;
  line-height: $topbar-height;
  font-size: $topbar-menu-link-font-size;

}

.panel {
  background: none repeat scroll 0 0 rgba(200, 200, 200, 0.502);
}

.top-bar {
  margin-bottom: 1.25em;
  background: -moz-linear-gradient(center top, #333333, #222222)
}

#player {
  width: 480px;
  height: 320px;
  //display: none;
}

#player.hidden {
  //display: none;
}

#videoToggle_btn {
  //@include button;
  //@include-html-classes;
  display: block;
  position: absolute;
  top: -20px;
  height: 20px;
  padding: 2px 4px;
  font-size: smaller;
  border-radius: 0 3px 0 0;
  border-left: 0;
  //@button
}

.album-cover {
  $behavior: nest-collapse;
}

.album-cover .cover-container {
  cursor: pointer;
  position: relative;
  height: inherit;
  overflow: hidden;;
}

.album-cover .cover-container > img {
  //border: 1px solid #FF6666;
  width: 100%;;
}

.album-cover .cover-container:hover .play-btn {
  display: block;
  //height: 50px;
  left: 74px;
  position: absolute;
  top: 74px;
  //width: 50px;
}

.play-btn {
  display: none;
}

.album-cover .tracklist {
  list-style: none;
  display: block;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.456);
  color: #FFF;
  padding: 0;
  width: 100%;
  li {
    cursor: pointer;
    text-overflow: clip;
    white-space: nowrap;
    left: 0px;
    position: relative;
    padding: 0 5px;

  }
  li:hover {
    .playnow {
      display: inline;
    }
    background: white;
    color: black;
  }
  li.active {
    background: $primary-color;
    color: white;
  }
}

.album-cover .panel {
  height: 4.5em;
  padding: 1.0em;
}

.album-cover .panel h5 {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album-cover .panel h6 {
  font-size: 14px;
}

.panel.playlist ul {
  margin: -1.25em;
}

#playlist {
  position: fixed;
  height: 50px;
  padding: 0px;
  background: -moz-linear-gradient(center bottom, #333333, #222222);
  //border-top:1px $button-border-color solid;
  bottom: 0px;
  z-index: 99;

}

#PL-songs {

  padding: 10px;
  .PL-song {
    //height: 20px;
    @include button-base;
    //@include button-size(0.8, false, false);
    color: #fff;
    font-weight: lighter;
    font-size: 11px;
    padding: 3px;
    width: 144px;
    @include radius;

    &.ng-enter {
      opacity: 0;
      @include transition-property(opacity);
      @include transition-duration;
    }

    &.ng-enter-stagger {
      @include transition-delay(0.1s);
    }

    &.ng-enter-active {
      opacity: 1;
    }


  }




}

#player_container {
  height: 240px;
  position: fixed;
  border-color: #FF3333;
  border-style: solid;
  border-width: 1px;
  border-left: 0;
  border-bottom: 0;
  display: block;
  bottom: 130px;
  left: 0px;
  z-index: 0;
}

#player_container.hidden {
  position: fixed;
  bottom: -190px;
  left: 2px;
}
